<h2>Reporte de Empleado</h2>
<div id="promedioCalificacionEmpleadoPanel">
    @Html.Action("ObtenerPromedioCalificacionEmpleado", "ReporteEmp")
</div>

<br />
<br />  
<div id="resumenVentasEmpleadoPanel">
    @Html.Action("ObtenerResumenVentasEmpleado", "ReporteEmp")
</div>
<br />
<div>
    @Html.Action("ObtenerGraficoVentasEmpleado")
</div>
<br />
<div>
    @Html.Action("listar")
</div>
