@model IEnumerable<ProyectoLavacar.Abstraciones.Modelos.ModeloServicios.ServiciosDto>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administración de Empleados</title>
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/default.css" rel="stylesheet" />
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/css/slick.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
</head>



<body>
    <!--====== Start breadcrumbs-area Section ======-->
    <section class="breadcrumbs-area bg_cover" style="background-image: url('../../content/assets/images/bg/breadcrumb-bg-1.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="breadcrumbs-content text-center">
                        <h1>Servicios</h1>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Servicio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End breadcrumbs-area Section ======-->
    <!-- Separación visual -->
    <div style="height: 50px; background-color: transparent;"></div>
    <!--====== Start service-area Section ======-->
    <section class="service-area service-area-v2 pt-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center mb-60">
                        <span class="span">Servicios</span>
                        <h2>Nuestros mejores servicios</h2>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-stretch">
                @foreach (var item in Model)
                {
                    <div class="col d-flex">
                        <a href="@Url.Action("Details", "Servicios", new { id = item.idServicio })" class="service-item mb-50 d-flex flex-column h-100 w-100 text-decoration-none text-dark">
                            <div class="icon">
                                <i class="flaticon-mechanic"></i>
                            </div>
                            <div class="info flex-grow-1 d-flex flex-column justify-content-between">
                                <h5>@item.nombre</h5>
                                <p>@item.descripcion</p>
                            </div>
                            <div class="price text-center p-3">
                                <strong>@item.precio</strong>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>

    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
</body>

</html>