@model ProyectoLavacar.Models.changePasswordViewModel

@{
    ViewBag.Title = "changePasswordSuccess";
}

<h2>changePasswordSuccess</h2>

<h2>Todo Correcto </h2>

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
