@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" type="image/png">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome/css/all.min.css">
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/Content/assets/fonts/flaticon/flaticon.css">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/default.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
</head>

<body aria-labelledby="title">
    <section class="breadcrumbs-area bg_cover" style="background-image: url('../../content/assets/images/bg/breadcrumb-bg-1.jpg'); ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumbs-content text-center">
                        <h1>Sobre Nosotros</h1>
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li class="active">Sobre Nosotros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End breadcrumbs-area Section ======-->
    <!--====== Start about-area Section ======-->
    <section class="about-area about-area-v2 pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img-box">
                        <div class="img-box img-box-1">

                            <img src="~/Content/assets/images/about/about-4.jpg" class="img-fluid" alt="">
                            <div class="experience-box ms-3">
                                <h2>10<span>Años de experiencia</span></h2>
                            </div>
                        </div>
                        <div class="img-box img-box-2">
                            <img src="~/Content/assets/images/about/about-5.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-box">
                        <div class="section-title mb-25">
                            <span class="span">Sobre la empresa</span>
                            <h2>10 años de experiencia en lavado de autos</h2>
                        </div>
                        <p>
                            Con más de 10 años de experiencia en el cuidado y mantenimiento de vehículos, nos enorgullece
                            ofrecer un servicio de lavado de autos de alta calidad, utilizando productos ecológicos y
                            técnicas innovadoras que aseguran resultados impecables.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box mb-15">
                                    <div class="icon">
                                        <i class="flaticon-cogs"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Experiencia de la empresa</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box mb-15">
                                    <div class="icon">
                                        <i class="flaticon-light-bulb"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Soporte rápido y ayuda</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            Nos especializamos en brindar un servicio rápido y confiable, con atención al detalle y un
                            enfoque en la satisfacción total del cliente. Ya sea para un lavado básico o un servicio
                            completo de detallado, nuestro equipo está preparado para atender todas tus necesidades.
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul class="check_list">
                                    <li>Lavado y trabajo con gran calidad.</li>
                                    <li>Enjuague suave sin daño alguno.</li>
                                    <li>Lavado de autos con detalles.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul class="check_list">
                                    <li>Protección contra lluvia con productos especializados.</li>
                                    <li>Lavado a mano para mayor detalle.</li>
                                    <li>Escudo anti-lluvia para mayor protección.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- <a href="#" class="main-btn">Leer más (quitar?)</a>-->
                    </div>
                </div>

            </div>
        </div>
    </section><!--====== Fin de la sección about-area ======-->
    <!--====== Comienzo de la sección counter-area ======-->
    <section class="counter-area bg_cover" style="background-image: url('../../content/assets/images/bg/project-bg.jpg');">
        <div class="container mb-2">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="counter-box text-center">
                        <h2><span class="counter">10</span></h2>
                        <h4>Años de experiencia</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="counter-box text-center">
                        <h2><span class="counter">15</span>K</h2>
                        <h4>Total de lavados de autos</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="counter-box text-center">
                        <h2><span class="counter">43</span></h2>
                        <h4>Trabajadores expertos</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="counter-box text-center">
                        <h2><span class="counter">10</span>K</h2>
                        <h4>Clientes satisfechos</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== Fin de la sección counter-area ======-->
    <!--====== back-to-top ======-->
    <a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!--====== Jquery js ======-->
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!--====== Counterup js ======-->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <!--====== Waypoints js ======-->
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope js ======-->
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <!--====== Imagesloaded js ======-->
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <!--====== WoW js ======-->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!--====== Main js ======-->
    <script src="~/Content/assets/js/main.js"></script>
</body>

</html>
